TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=
WAYMARK_VAULT_ID=
WAYMARK_DEVICE_ID=
WAYMARK_CLIENT_TYPE=main
WAYMARK_SYNC_ENABLED=false
WAYMARK_SYNC_MODE=eod
WAYMARK_GOOGLE_DRIVE_MEDIA_ENABLED=false
EXPO_PUBLIC_WAYMARK_APP_VARIANT=dev
EXPO_PUBLIC_WAYMARK_GOOGLE_DRIVE_ANDROID_CLIENT_ID=
